name: Build and upload release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 23
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Make gradlew executable
      run: chmod +x ./gradlew
    
    - name: Build with Gradle Wrapper
      run: ./gradlew jarAll
 
    - name: Publish to GitHub Releases
      uses: softprops/action-gh-release@v1
      with:
        files: build/libs/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}      
